@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 240 14% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 240 14% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 29% 29%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 29% 29%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 207 70% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207 70% 53%;
    --radius: 0.5rem;
    --chart-1: 207 90% 54%;
    --chart-2: 160 84% 39%;
    --chart-3: 40 94% 53%;
    --chart-4: 280 84% 60%;
    --chart-5: 0 84% 60%;
    --chart-6: 250 84% 65%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 61%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 54%;
    --chart-2: 160 84% 39%;
    --chart-3: 40 94% 53%;
    --chart-4: 280 84% 60%;
    --chart-5: 0 84% 60%;
    --chart-6: 250 84% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
